<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="info.nukoneko.android.nativeanimation">
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:hasCode="false" >
        <activity android:name="android.app.NativeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="NativeLib" />
        </activity>

    </application>
</manifest>
